body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('/images/amaia_1.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    height: 510px;
    position: relative;  
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transform: none !important;
    transition: none !important;
}
.logo {
    position: absolute;
    top: 10px;
    left: 15px; 
    width: 100px;  
    height: auto;  
    border-radius: 10px;
}
.card-header {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: 20px; 
    left: 50%;  
    transform: translateX(-50%); 
    width: 100%;
}
.card-body {
    padding: 20px;
    padding-top: 60px; 
}
.form-group input {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
.form-group input::placeholder {
    color: #666;
}
.btn-block {
    background-color: #333;
    color: #fff;
    font-size: 16px; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 150px;  
    margin-top: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;  
    transform: translateX(-50%);
    text-align: center;
}
.btn-block:hover {
    background-color: #555;
}
.alert {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.alert-success {
    background-color: rgba(76, 175, 80, 0.7);
    color: white;
}
.alert-danger {
    background-color: rgba(244, 67, 54, 0.7);
    color: white;
}
.eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}
.eye-icon:hover {
    color: #333;
}
